.title-sec {
  color: $main-color;
  padding: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid $main-color;
}

.title-center {
  text-align: center;
  margin-bottom: 20px;
  color: $main-color;
}
